@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Jameka!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">being a badass!</a>.</p>
</div>
